/* Fonts */
@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/Gilroy-Bold.woff") format("woff")
}

@font-face {
    font-family: "Gilroy Heavy";
    src: url("../fonts/Gilroy-Heavy.woff") format("woff")
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.woff") format("woff")
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("../fonts/Gilroy-Medium.woff") format("woff")
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("../fonts/Gilroy-Regular.woff") format("woff")
}

/* Globals */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: transparent;
    color: #333;
    font-size: 23px;
    font-family: "Gilroy Regular";
    line-height: 1.3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 600px) {
    body {
        height: auto;
        font-size: 16px;
    }
}


main {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1920px;
    max-width: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.btn-prime {
    padding: 20px 45px;
    transition: all .3s ease-in-out;
    border-radius: 0;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    font-family: "Gilroy Bold";
    text-transform: capitalize;
    letter-spacing: .1em;
    white-space: nowrap;
    line-height: 1.5;
}

.btn-prime:hover {
    opacity: .9;
}

.btn-prime-dark {
    border: 2px solid #2dcffc;
    background-color: #2dcffc;
    color: #fff;
}

button {
    background-color: transparent;
    border: 0;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

@media (max-width: 1919px) {
    body {
        display: block;
    }

    .bg-image {
        filter: none;
    }
}

@media (max-width: 1750px) {
    .container, nav {
        max-width: 991px !important;
    }
}

/* Background Image */
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(./images/hero-image.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(50px);
}

/* Mobile Menu Modal Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    border-radius: 20px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
    background: #000;
    visibility: hidden;
}

.overlay.menu-opened {
    opacity: .95;
    visibility: visible;
}

.overlay .close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.overlay .close img {
    margin: 0 !important;
}

.overlay .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay .mobile-menu a {
    color: #fff;
    text-transform: capitalize;
    font-family: "Gilroy Bold";
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.overlay .mobile-menu a:hover {
    color: #2dcffc;
}

.overlay .mobile-menu a img {
    margin-left: 10px;
    max-width: 15px;
}

.overlay .mobile-menu ul {
    width: 100%;
    text-align: center;
}

.overlay .mobile-menu ul li {
    margin-bottom: 30px;
}

.overlay .mobile-menu .social {
    width: 100%;
    padding: 0 15px;
    text-align: center;
}

.overlay .mobile-menu .social h4 {
    margin: 20px 0;
    font-family: "Gilroy-Light";
    color: #fff;
}

.overlay .mobile-menu .social .social-links {
    text-align: center;
    display: flex;
    justify-content: center;
}

.overlay .mobile-menu .social .social-links a {
    padding: 5px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.overlay .mobile-menu .social .social-links a:hover {
    color: #fff;
}

.overlay .mobile-menu .social .social-links a:not(:last-child) {
    margin-right: 20px;
    font-size: 30px;
}

.overlay .mobile-menu .social .social-links .fb {
    background: #3b5998;
}

.overlay .mobile-menu .social .social-links .instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #e1306c, #fd1d1d);
}

.overlay .mobile-menu .social .social-links .twitter {
    background: #55acee;
}

@media (max-width: 600px) {
    .overlay {
        border-radius: 0;
    }

    .overlay .close {
        top: 0;
        right: 0;
        height: 70px;
        width: 70px;
    }

    .overlay .mobile-menu {
        height: 100vh;
    }
}

/* Header */
header {
    position: absolute;
    width: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1919px) {
    header {
        height: 100px;
    }
}

@media (max-width: 600px) {
    header {
        position: sticky;
        background-color: #000;
        height: 80px;
    }
}


nav {
    max-width: 1600px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .brand {
    font-family: "Gilroy Bold";
    font-size: 32px;
}

nav .brand a {
    color: #2dcffc;
    transition: all .3s ease-in-out;
}

nav .brand a span {
    color: #353638;
    padding: 6px;
    background-color: #2dcffc;
    border-radius: 5px;
}

nav .menu-block {
    display: flex;
}

nav .menu-block .menu-list {
    display: flex;
    align-items: center;
}

nav .links {
    margin-right: 100px;
}

nav .links li:not(:last-child) {
    margin-right: 50px;
}

nav .links li a {
    color: #fff;
    font-size: 20px;
    font-family: "Gilroy Bold";
    text-transform: capitalize;
    padding: 10px;
}

nav .more-options {
    display: flex;
    align-items: center;
}

nav .more-options .cart-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .more-options .cart-nav .cart {
    position: relative;
    bottom: initial;
}

nav .more-options .hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    height: 37px;
}

nav .more-options .hamburger span {
    height: 3px;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

nav .more-options .hamburger span:not(:last-chid) {
    margin-bottom: 5px;
}

nav .more-options .hamburger span:nth-child(1) {
    width: 17px;
    margin-left: auto;
}

nav .more-options .hamburger span:nth-child(2) {
    width: 28px;
}

nav .more-options .hamburger span:nth-child(3) {
    width: 17px;
    margin-right: auto;
}

@media (min-width: 1920px) {
    header {
        height: 170px;
    }
}

@media (max-width: 1750px) {
    nav .links li:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 1024px) {
    nav .menu-block .menu-list.links {
        display: none;
    }

    nav .brand { 
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    nav .brand {
        font-size: 24px;
    }
}

.cart {
    position: absolute;
    bottom: -20px;
    background: #3b71cf;
    background: linear-gradient(90deg, #3b71cf 0%, #2fd2fc 100%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart::after {
    content: url(./images/shopping-bag.svg);
    margin-top: 5px;
    transform: scale(.7);
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Hero */
.hero {
    height: 100vh;
    background: url(./images/hero-image.png) no-repeat left center;
    background-size: cover;
    position: relative;
    display: flex;
    color: #c9c7c9;
}

.hero .container {
    position: absolute;
    max-width: 1600px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.hero .text {
    max-width: 40%;
    margin-left: auto;
    position: relative;
    z-index: 3;
}

.hero .text .section-title {
    font-family: "Gilroy Bold";
    color: #fff;
    font-size: 88px;
    line-height: 1.1;
    margin-bottom: 10px;
    position: relative;
}

.hero .text .section-title span {
    display: block;
}

.hero .text .section-title span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: 100% 0;
}

.hero .text .price {
    font-family: "Gilroy Bold";
    font-size: 52px;
    color: #fff;
    margin-top: 56px;
    display: flex;
    align-items: center;
}

.hero .text .cta-container {
    max-width: 228px;
    width: 100%;
}

.hero .text .cta-container .btn-prime {
    border: 1px solid #2dcffc;
    background-color: transparent;
    border-radius: 50px;
    margin-left: 40px;
}

.hero .text .cta-container .btn-prime:hover {
    background-color: #2dcffc;
    color: #fff;
    border-color: #2dcffc;
}



.hero .text .options {
    margin-top: 70px;
}

.hero .text .options .grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hero .text .options .item {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.hero .text .options .item .title {
    font-size: 22px;
    font-family: "Gilroy Bold";
    margin-bottom: 5px;
    color: #353638;
}

.hero .text .options .item .min-price {
    font-family: "Gilroy Bold";
    font-size: 36px;
    color: #353638;
}

.hero .text .options .item .cart {
    left: 25px;
}

@media (min-width:1920px) {
    .hero {
        height: 1080px;
        border-radius: 20px;
        box-shadow: 0px 0px 24px 13px rgba(255, 255, 255, .12);
    }

    .hero::after {
        border-radius: 20px;
    }
}

@media (max-width: 1900px) {
    .hero {
        color: #fff;
    }

    .hero::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #050505;
        opacity: .5;
        z-index: 1;
    }
}

@media (max-width: 1750px) {
    .hero .text {
        max-width: 100%;
        text-align: center;
        max-width: 0 auto;
    }

    .hero .text .price {
        justify-content: center;
    }

    .hero .text .options .item .info {
        text-align: left;
    }
}

@media (max-width: 1024px) {
    .hero {
        overflow: hidden;
    }

    .hero .text {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .hero::after {
        opacity: .7;
    }
.hero .text .section-title {
    font-size: 70px;
}
}

@media (max-width: 700px) {
    .hero .text .options .grid-row {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}

@media (max-width: 600px) {
    .hero {
        background-position: center center;
        overflow: auto;
        padding: 50px 0;
        height: auto;
    }

    .hero::after {
        opacity: .7;
    }

    .hero .container {
        position: relative;
        top: inherit;
        left: inherit;
        transform: none;
    }

    .hero .text {
        max-width: 100%;
    }

    .hero .text .section-title {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .hero .text .price {
        flex-direction: column;
        font-size: 48px;
        margin-top: 30px;
    }

    .hero .text .price .cta-container {
        margin-top: 16px;
    }
    .hero .text .price .cta-container .btn-prime {
        border-radius: 50px;
        margin-left: 0;
    }

    .hero .text .options {
        margin-top: 38px;
    }

    .hero .text .options .item .title {
        font-size: 20px;
    }

    .hero .text .options .item .min-price {
        font-size: 30px;
    }
    
}

